<div class="container">
  <h1>Registro de usuario</h1>
  <form #formulario="ngForm" (ngSubmit)="onSubmit()">

    <!-- Nombre -->
    <div class="form-control">
      <label for="nombre">Nombre</label>
      <input
          type="text"
          id="nombre"
          name="nombre"
          [(ngModel)]="usuario.nombre"
          required
          minlength="3"
          #nombre="ngModel">
        <div class="error" *ngIf="nombre.invalid && nombre.touched">
          El nombre es obligatorio y debe de tener al menos 3 caracteres
        </div>
    </div>

    <!-- Email -->
    <div class="form-control">
      <label for="email">Email</label>
      <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="usuario.email"
          required
          #email="ngModel">
        <div class="error" *ngIf="email.invalid && email.touched">
          Ingresa un correo Valido
        </div>
    </div>

    <!-- Edad -->
    <div class="form-control">
      <label for="edad">Edad</label>
      <input
          type="edad"
          id="edad"
          name="edad"
          [(ngModel)]="usuario.edad"
          required
          min="18"
          #edad="ngModel">
        <div class="error" *ngIf="edad.invalid && edad.touched">
          Debes de tener almenos 18 años
        </div>
    </div>

    <!-- Boton -->
    <button
      [disabled]="formulario.invalid"
      type="submit"
    >Enviar</button>
  </form>

  <h3>Datos Actuales</h3>
  <pre>
    {{usuario | json}}
  </pre>

</div>
