.container{
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: ddd;
  border-radius:  10px;
  border: 1px solid #ddd;
}
.producto{
  padding: 0.7rem;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.agotado{
  opacity: 0.5;
  font-style: italic;
}
